# local vivado files
/bruneluni-sequence-detector-main.cache/
/bruneluni-sequence-detector-main.hw/
/bruneluni-sequence-detector-main.ip_user_files/
/bruneluni-sequence-detector-main.runs/
/bruneluni-sequence-detector-main.sim/
*bruneluni-sequence-detector-main.xpr